{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="p-3 d-flex justify-content-center mt-5">
    <div class="col">
        <div>
            <p class="fs-5">
                Adicione Novos Amigos
            </p>
            <div class="p-3 d-flex justify-content-center mt-5">

                <div class="card col p-1 m-2" style="width: 6rem;">
                    <img src="{% static 'imagens/new-friends/toby.jpg' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-text">Toby</p>
                    </div>
                </div>

                <div class="card col p-1 m-2" style="width: 6rem;">
                    <img src="{% static 'imagens/new-friends/riana.png' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-text">Rhianna</p>
                    </div>
                </div>

                <div class="card col p-1 m-2" style="width: 6rem;">
                    <img src="{% static 'imagens/new-friends/Pensador.jpg' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-text">Pense</p>
                    </div>
                </div>
            </div>

            <div class="p-3 d-flex justify-content-center mt-5 row">
                <div class="card col p-1 m-2" style="width: 6rem;">
                    <img src="https://th.bing.com/th/id/OIP.Ny2fa6FrOEMxkn8p8I3r5QHaLL?rs=1&pid=ImgDetMain" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-text">Weeknd</p>
                    </div>
                </div>
            
                <div class="card col p-1 m-2" style="width: 6rem;">
                    <img src="https://th.bing.com/th/id/R.87bc3ea1e4f751b86392c34d432f8e58?rik=WVwS1bBpsPAQEw&pid=ImgRaw&r=0" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-text">Rock</p>
                    </div>
                </div>
            
                <div class="card col p-1 m-2" style="width: 6rem;">
                    <img src="https://th.bing.com/th/id/OIP.cVcFuxFJIcj1Bo2sxc3h-QHaIV?rs=1&pid=ImgDetMain" class="card-img-top" alt="">
                    <div class="card-body">
                        <p class="card-text">Python</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock content %}