{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container" id="main">
    <div class="row">


        <!--Menu lateral-->
        <div class="col">
            <nav class="menu">
                <header class="avatar">
                    <img src="{% static 'imagens/MichaelScott.png' %}" />
                    <h2>Michael Scott</h2>
                </header>
                <ul>
                    <li class="icon-dashboard"><i class="bi bi-house-door"></i><span><a href="#">Dashboard</a></span>
                    </li>
                    <li class="icon-users"><i class="bi bi-person-circle"></i><span><a
                                href="{% url 'profile' %}">Users</a></span>
                    </li>
                    <li class="icon-settings"><i class="bi bi-gear-fill"></i><span><a href="#">Settings</a></span>
                    </li>
                </ul>
            </nav>

        </div>


        <!--Conteudo dos posts-->
        <div class="col-6" id="new-post">
            <div class="container" id="add-post">
                <div class="col">



                    <!--FORMULARIO ABENCOADO-->



                    <form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                        <div class="row">
                            <label class="form-label">
                                Nome
                                <input class="form-control" type="text" name="nome">
                            </label>
                        </div>
                        <div class="row">
                            <textarea style="resize: none;" rows="4" cols="50" placeholder="What's happening?"
                                name="text" class="form-control"></textarea>
                        </div>

                        <div class="row col-8 mt-3 mb-4">
                            <div class="row" style="width: 700px;">
                                <input value="Image" type="file" class="form-control" name="my_file">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <button type="button" class="btn btn-secondary"><i
                                        class="bi bi-filetype-gif"></i>Gif</button>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-secondary"><i
                                        class="bi bi-emoji-smile-fill"></i></button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <input value="send" type="submit" class="btn btn-secondary">
                        </div>
                    </form>





                </div>

            </div>




            {% for det in conteudo %}
            <div class="container" id="user-post">
                <div class="row">
                    <div class="col-2">
                        <img src="{% static 'imagens/MichaelScott.png' %}" alt="very" class="img-very"
                            id="img-post-user">
                    </div>

                    <div class="col" id="post-recent">
                        <p>{{ det.nome }}<span> 22h</span></p>
                    </div>
                </div>
                <div class="post_foto mt-3">
                    <p>Via <span>@{{det.nome}}</span></p>
                    <img src="{% static det.arq %}" alt="">
                    <h6>{{ det.text }}</h3>
                </div>
                <div class="row col-11 reations">
                    <div class="col">
                        <div class="reaction-button">
                            <i class="bi bi-heart"></i>
                        </div>
                    </div>
                    <div class="col">
                        <a href="#"><i class="bi bi-chat-left"></i></a>
                    </div>
                    <div class="col">
                        <a href="#"><i class="bi bi-send-fill"></i></a>
                    </div>
                </div>
            </div>

            {% endfor %}


        </div>

        <!--Novos Amigos-->
        <div class="col">
            <div class="new-friends">
                <p class="fs-5">
                    Adicione Novos Amigos
                </p>
                <div class="row">

                    <div class="card col p-1 m-2" style="width: 6rem;">
                        <img src="{% static 'images/toby.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text">Toby</p>
                        </div>
                    </div>

                    <div class="card col p-1 m-2" style="width: 6rem;">
                        <img src="{% static 'images/toby.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text">Toby</p>
                        </div>
                    </div>

                    <div class="card col p-1 m-2" style="width: 6rem;">
                        <img src="{% static 'images/toby.jpg' %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <p class="card-text">Toby</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}